In [1]:
print("Hello, World!")

Hello, World!

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("crawford/emnist")

print("Path to dataset files:", path)

/home/vuvietduy/workspace/HandWritingRecognition/HandWritingRecognition/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3

In [3]:
import os 

for dirname , _, filenames in os.walk(path):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-byclass-test.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-letters-mapping.txt
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-mnist-mapping.txt
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-digits-test.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-byclass-mapping.txt
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-bymerge-mapping.txt
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-letters-test.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-balanced-test.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-mnist-test.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-bymerge-test.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-digits-mapping.txt
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-balanced-mapping.txt
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-bymerge-train.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-letters-train.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-balanced-train.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-mnist-train.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-digits-train.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist-byclass-train.csv
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-bymerge-test-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-bymerge-test-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-letters-train-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-mnist-test-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-digits-train-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-byclass-train-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-letters-test-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-mnist-train-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-balanced-test-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-byclass-train-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-balanced-test-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-balanced-train-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-mnist-test-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-digits-train-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-bymerge-train-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-bymerge-train-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-byclass-test-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-letters-train-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-letters-test-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-balanced-train-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-digits-test-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-digits-test-labels-idx1-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-byclass-test-images-idx3-ubyte
/home/vuvietduy/.cache/kagglehub/datasets/crawford/emnist/versions/3/emnist_source_files/emnist-mnist-train-labels-idx1-ubyte

In [4]:
import pandas as pd
train_df = pd.read_csv(os.path.join(path,'emnist-balanced-train.csv'), header=None)
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,45,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,43,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train_df.shape

(112800, 785)

In [6]:
train_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
count,112800.00000,112800.0,112800.0,112800.0,112800.0,112800.000000,112800.000000,112800.000000,112800.000000,112800.000000,...,112800.000000,112800.0,112800.0,112800.000000,112800.000000,112800.0,112800.0,112800.0,112800.0,112800.0
mean,23.00000,0.0,0.0,0.0,0.0,0.001365,0.011560,0.020700,0.017438,0.018475,...,0.000310,0.0,0.0,0.002163,0.000284,0.0,0.0,0.0,0.0,0.0
std,13.56472,0.0,0.0,0.0,0.0,0.235046,1.221826,1.658797,1.602478,1.719549,...,0.104211,0.0,0.0,0.726499,0.095279,0.0,0.0,0.0,0.0,0.0
min,0.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,11.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,23.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,35.00000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
max,46.00000,0.0,0.0,0.0,0.0,63.000000,192.000000,217.000000,217.000000,217.000000,...,35.000000,0.0,0.0,244.000000,32.000000,0.0,0.0,0.0,0.0,0.0

In [7]:
label_map = pd.read_csv(os.path.join(path, 'emnist-balanced-mapping.txt'), 
                        delimiter=' ', 
                        index_col=0, 
                        header=None)

In [8]:
label_map.head()

    1
0
0  48
1  49
2  50
3  51
4  52

In [9]:
label_dictionary = {}

for index, label in enumerate(label_map[1]):
    label_dictionary[index] = chr(label)

In [10]:
label_dictionary

{0: '0',
 1: '1',
 2: '2',
 3: '3',
 4: '4',
 5: '5',
 6: '6',
 7: '7',
 8: '8',
 9: '9',
 10: 'A',
 11: 'B',
 12: 'C',
 13: 'D',
 14: 'E',
 15: 'F',
 16: 'G',
 17: 'H',
 18: 'I',
 19: 'J',
 20: 'K',
 21: 'L',
 22: 'M',
 23: 'N',
 24: 'O',
 25: 'P',
 26: 'Q',
 27: 'R',
 28: 'S',
 29: 'T',
 30: 'U',
 31: 'V',
 32: 'W',
 33: 'X',
 34: 'Y',
 35: 'Z',
 36: 'a',
 37: 'b',
 38: 'd',
 39: 'e',
 40: 'f',
 41: 'g',
 42: 'h',
 43: 'n',
 44: 'q',
 45: 'r',
 46: 't'}

In [11]:
import numpy as np
train_df_new = train_df[train_df[0].isin(np.arange(0, 36))]
train_df_new

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,32,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112795,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112796,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112797,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112798,31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112799,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
train_df_new[0].describe()

count    86400.000000
mean        17.500000
std         10.388355
min          0.000000
25%          8.750000
50%         17.500000
75%         26.250000
max         35.000000
Name: 0, dtype: float64

In [13]:
train_df_new.reset_index(inplace=True)
train_df_new

,index,0,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,784
0,3,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,26,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,32,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8,20,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86395,112795,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86396,112796,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86397,112797,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86398,112798,31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86399,112799,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
x_train = train_df_new.loc[:, 1:]
y_train = train_df_new.loc[:, 0]

x_train.shape, y_train.shape

((86400, 784), (86400,))

In [15]:
sample_image = x_train.iloc[1000]
sample_label = y_train.iloc[1000]
sample_image.shape, sample_label

((784,), np.int64(19))

In [2]:
import matplotlib.pyplot as plt
W = 28
H = 28

print("Label entry No. 1000:", label_dictionary[sample_label])
plt.imshow(sample_image.values.reshape(W, H), cmap=plt.cm.gray)
plt.show()

NameError: name 'label_dictionary' is not defined

In [1]:
x_train = np.apply_along_axis(flip_and_rotate, 1, x_train.values)
x_train.shape

NameError: name 'np' is not defined

In [ ]:
from tensorflow.keras import datasets, layers, models
from tensorflow.keras.preprocessing.image import ImageDataGenerator

from keras import models
from keras.models import Sequential, load_model
from keras import layers
from keras.layers import (
    Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D,
    GlobalAveragePooling2D, LeakyReLU, AvgPool2D, BatchNormalization, Reshape
)
from keras.utils import Sequence, to_categorical
from keras.callbacks import (
    EarlyStopping, ModelCheckpoint, ReduceLROnPlateau, TensorBoard, Callback,
    LearningRateScheduler
)
from keras.optimizers import Adam